header {
  position: relative;

  .toggle-search {
    position: absolute;
    right: 5px;
    top: 5px;
  }
}
.search {
  margin-bottom: 20px;
  .input-append {
    margin: 0;
  }
  .search-input {
    width: 272px;
  }
}

/* Contact details */
.contact {
  cursor: pointer;
  margin-bottom: 10px;
  position: relative;

  section {
    display: none;
  }
  h4 a {
    color: #444;
  }
  h5 {
    color: #1a74b0;
    margin-bottom: 5px;
  }
  &:hover {
    background-color: #e5e5e5;
  }
  &.active {
    background-color: #f5f5f5;
    cursor: auto;
    section {
      display: block;
    }
    h4 {
      margin-bottom: 10px;
    }
  }
  .active h5, h5:hover {
    cursor: pointer;
  }
  .content {
    display: none;
    margin: 5px 0 20px;
  }
  .active .content {
    display: block;
  }
  .field {
    margin-bottom: 5px;
    p {
      margin-left: 5px;
    }
  }
  section.groups {
    .see-more {
      display: block;
      text-align: right;
      position: relative;
      top: -1em;
    }
  }
}
.contact-toggle {
  position: absolute;
  right: 20px;
  top: 20px;
}
.message p {
  margin-bottom: 10px;
}
.add-tags {
  h6 {
    margin-bottom: 10px;
  }
  select, button {
    float: left;
  }
  select {
    margin-right: 10px;
    width: 230px;
  }
}
.centered {
  text-align: center;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.btn {
  padding-bottom: 5px;
  padding-top: 5px;
}
.input-append {
  display: inline-block;
  margin-bottom: 10px;
  font-size: 0;
  white-space: nowrap;
  vertical-align: middle;
}
.input-append input {
  font-size: 12px;
}
.input-append input {
  position: relative;
  margin-bottom: 0;
  *margin-left: 0;
  vertical-align: top;
  -webkit-border-radius: 0 4px 4px 0;
     -moz-border-radius: 0 4px 4px 0;
          border-radius: 0 4px 4px 0;
}
.input-append input:focus {
  z-index: 2;
}
.input-append .btn {
  vertical-align: top;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}
.input-append .active {
  background-color: #a9dba9;
  border-color: #46a546;
}
.input-append input {
  -webkit-border-radius: 4px 0 0 4px;
     -moz-border-radius: 4px 0 0 4px;
          border-radius: 4px 0 0 4px;
}
.input-append .btn {
  margin-left: -1px;
}
.input-append .btn:last-child {
  -webkit-border-radius: 0 4px 4px 0;
     -moz-border-radius: 0 4px 4px 0;
          border-radius: 0 4px 4px 0;
}
